<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PIMSv2.Properties.Settings.PimsV2ConnectionString" connectionString="Data Source=brandon-desk\PIMS;Initial Catalog=PimsV2;User ID=PIMS;Password=PIMS" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
</configuration>
